* {
    box-sizing: border-box;
}

#outer {
    background-color: aqua;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    padding: 18px;
}

#inner {
    background-color: white;
    border-radius: 18px;
    text-align: center;
    padding-bottom: 18px;
}

h1 {
    padding-top: 9px;
}

.tab_div {
    display: inline-block;
    background-color: lightgrey;
    padding-right:10px;
    padding-left: 10px;
}

#content {
    margin: 10px;
}
