* {
    box-sizing: border-box;
}

#content {
    margin: 0px;
    padding: 0px;
    text-align: center;
    overflow-y: visible;
    padding-left: 5%;
    padding-right: 5%;
    height: auto;
}

#header {
    text-align: center;
    background-color: lightgrey;
    margin: 0px;
    padding: 0px;
    width: 100%;
    padding-bottom: 10px;

}

html, body {
    height: 100%;
    margin: 0;
}

#wrapper {
    min-height: 100%;
}

h1, h2 {
    padding-top: 20px;
    padding-bottom: 0px;
    margin: auto;
}

#header h1 {
    padding-top: 10px;
}

#call {
    text-align: left;
    padding-left: 20px;
}

#photo_container1 {
    width: 100%;
    margin: auto;
    max-height: 384px;
    max-width: 512px;
}

#photo1 {
    width: inherit;
    height: inherit;
 }

#caption p, #caption a{
    margin: 0;
}

.underline {
    width: 30%;
    min-width: 200px;
}

.separator {
    background-color: black;
    color: 1px;
    height: 1px;
    border-color: black;
}

#head_end {
    padding: 0px;
    margin: 0px;
    background-color: black;
    color: black;
    height: 2px;
    border-color: black;
    
}