* {
    box-sizing: border-box;
}

#content {
    margin: 0px;
    padding: 0px;
    text-align: center;
    overflow-y: visible;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    height: auto;
    border-style: solid;
    border-color: lightgray;
    border-width: 2px;
    border-radius: 30px;
}

#header {
    text-align: center;
    background-color: lightgrey;
    padding: 0px;
    padding-bottom: 10px;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 15px;
    margin-top: 5px;
    
}

html, body {
    height: 100%;
    margin: 0;
}

#wrapper {
    min-height: 100%;
}

h1, h2 {
    padding-top: 20px;
    padding-bottom: 0px;
    margin: auto;
}

#header h1 {
    padding-top: 10px;
}

#call {
    text-align: left;
    padding-left: 20px;
}

#photo_container1 {
    width: 100%;
    margin: auto;
    max-height: 384px;
    max-width: 512px;
}

#photo1 {
    width: inherit;
    height: inherit;
 }

#caption p, #caption a{
    margin: 0;
}

.underline {
    width: 30%;
    min-width: 200px;
}

.separator {
    background-color: black;
    color: 1px;
    height: 1px;
    border-color: black;
}